/* .A_GUIContainer {
    position: absolute;
    width: 42vw;
    left: 2.6vw;
    padding-top: 1%;
    height: 100vh;
    bottom: 0px;
} */

.A_titleContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0.6vw 0;
}

.A_title {
    /* width: 15vw; */
    cursor: pointer;
    /* font-family: cinzel; */
}

.A_swish {
    width: 15vw;
}

#A_mainSwish {
    margin-top: -1.4vh;
}

.A_header1 {
    margin: calc(var(--vh, 1vh) * 3.7) 0 calc(var(--vh, 1vh) * 2.5);
    text-align: center;
    font-size: 1.5vw;
    font-variant-caps: normal;
    color: gold;
}

.A_reg {
    font-family: 'Cinzel';    
    letter-spacing: 0.1em;
}

.A_decor {
    font-family: 'Cinzel Decorative';
    letter-spacing: -0.3em;
}

#A_pageBody {
    font-size: 0.7vw;
    color: #acb0de;
    text-align: justify;
    padding-right: 1.3vw;
    line-height: 0.92vw;
}

a:link {
    color: lightyellow;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: lightyellow;
    background-color: transparent;
    text-decoration: none;
}