.A_titleContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0.6vw 0;
}

.A_title {
    width: 15vw;
    cursor: pointer;
    /* font-family: cinzel; */
}

.A_swish {
    width: 15vw;
}

#A_mainSwish {
    margin-top: -1.4vh;
}

.A_header1 { 
    text-align: center;
    font-size: 1.7vw;
    font-variant-caps: normal;
    color: gold;
    margin-bottom: calc(var(--vh, 1vh) * 1);
}

.A_reg {
    font-family: 'Cinzel';    
    letter-spacing: 0.1em;
}

.A_decor {
    font-family: 'Cinzel Decorative';
    letter-spacing: -0.3em;
}

#A_64TetraViewSwish {
    display: flex;
    justify-content: center;
    margin-bottom: calc(var(--vh, 1vh) * 1);
}

#A_featureQuote {
    font-family: 'Verdana';
    font-size: 0.65vw;
    text-align: center;
    font-style: italic;
    margin-top: 14px;
    line-height: 1.4;
    color: #acb0de;
    /* color: var(--yellow1); */
    /* color: lightyellow; */
    /* color: white; */
    margin: 0 2vw;
} 

#A_featureQuotee {
    font-family: 'Verdana';
    font-size: 0.65vw;
    text-align: right;
    font-style: italic;
    line-height: 1.4;
    color: #acb0de;
    margin-bottom: -1vw;
} 

#A_pageBody {
    font-size: 0.7vw;
    color: #acb0de;
    text-align: justify;
    padding-right: 1.3vw;
    line-height: 0.92vw;
}

a:link {
    color: lightyellow;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: lightyellow;
    background-color: transparent;
    text-decoration: none;
}