.A_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
    animation-name: backgroundFade;
    animation-duration: 0.2s;
}

@keyframes backgroundFade {
    from {opacity: 0}
    to {opacity: 1}
}

#A_loginMsgBox {
    display: none;
    margin: 0.5vw 0 0.3vw;
}

#A_registerMsgBox {
    display: none;
    margin: 0.8vw 0 0.2vw;
}

#A_resetMsgBox {
    display: none;
    margin: 0.8vw 0 0.2vw;
}

.A_loginRsultMsg {
    font-size: 0.7vw;
    color: var(--yellow1);
    font-style: italic;
    font-family: Verdana, sans-serif;
    text-align: center;    
}

#A_loginBox, 
#A_registerBox, 
#A_resetBox,
#A_resetPasswordBox,
#A_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid #190d38;
    border-radius: 5px;
    background-color: #050111;
    margin: 10% auto;
    width: 20%;
    animation-name: modalopen;
    animation-duration: 0.5s;
    padding: 0.2vw 1.3vw 0.7vw;
}

#A_resetPasswordMsgBox {
    margin: 0.8vw 0 0.2vw;
}

/* #A_titleModal {
    margin-top: 1vw;
}

#A_closeInfo {
    margin-top: 1vw;
} */

#A_titleText {
    color: #acb0de; 
    font-size: 0.55vw;
    margin: 0.4vw;
    line-height: 1.5;
    text-align: center;
    font-style: italic;
}

#A_licenseText {
    color: #acb0de; 
    font-size: 0.6vw;
    margin: 0.5vw;
    line-height: 1.5;
    text-align: center;
}

#A_resetBackground {
    position: fixed;
    width: 100%;
    height: 100%;    
    background-image: url("../assets/images/background4.png");
}

#A_registerBox, 
#A_resetBox, 
#A_registerBox,
#A_info {
    display: none;
}

#A_loginBoxTitle {
    color: lightyellow;
    padding-top: 0.8vw;
    font-size: 1vw;
    display: inline-block;
}

.A_closeModal {
    align-self: flex-end;
    position: absolute;
    color: lightyellow;
    float: right;
    font-size: 1.1vw;
    margin-right: -0.7vw;
}

.A_closeModal:hover, 
.A_closeModal:focus {
    text-decoration: none;
    cursor: pointer;
}

/* #A_closeInfoModal {
    color: lightyellow;
    font-size: 1.1vw;
    float: right;
} */

@keyframes modalopen {
    from {opacity: 0}
    to {opacity: 1}
}

.A_textbox {
    width: 100%;
    overflow: hidden;
    font-size: 0.6vw;
    padding: 0px 0;
    margin: 11px 0;
    border-radius: 4px;
}

.A_textbox input {
    border: none;
    outline: none;
    width: 100%;
    border: 1px solid #47338080;
    background: none;
    color: #acb0de; 
    font-size: 0.75vw;
    padding: 9px 0 9px 5px;
}

#A_loginForm, 
#A_registerForm, 
#A_resetPasswordForm {
    width: 100%;
}

#A_forgotAndRegister {
    margin: 14px 0; 
}

#A_newUser {
    float: left;
    font-size: 0.7vw;
    color: #acb0de;  
}

#A_registerLink, 
#A_loginLink, 
#A_backLink {
    font-size: 0.7vw;
    color: lightyellow;  
    text-decoration: none;  
}

#A_resetLink {
    float: right;
    font-size: 0.7vw;
    color: lightyellow;
    text-decoration: none;
}

#A_loginBtn, 
#A_registerBtn, 
#A_resetBtn,
#A_resetPasswordBtn {
    width: 100%;
    background: #38278538;
    border: 1px solid #473380b9;
    color: lightyellow;
    padding: 0.6vw;
    font-size: 0.75vw;
    cursor: pointer;
    margin: 0.5vw 0;
    border-radius: 4px;
}

#A_registerBtn, 
#A_resetBtn {
    margin: 0.3vw 0;
}

#A_back, #A_register {
    color: #acb0de;
    text-align: center;
    font-size: 0.7vw;
    margin-top: 10px; 
}

#A_resetMsg {
    color: #acb0de; 
    font-size: 0.6vw;
    margin: 0.5vw;
    line-height: 1.5;
    text-align: center;
}

.g-recaptcha {
    display: flex;
    justify-content: center;
    margin: 0.5vw 0 0.3vw;
    border: 1px solid #473380b9;
    border-radius: 4px;
    padding: 0.6vw;
}
