.katex .mathnormal {
    font-family: Verdana !important;
    font-weight: lighter !important;
    line-height: 1.4 !important;
    font-size: 0.7vw !important;
    /* font-size: 0.9vw !important; */
    font-style: normal !important;
}
