/* .A_page {
    position: absolute;
    bottom: 30px;
    top: 0px;
    flex-direction: column;
    width: 42vw;
    left: 2.6vw;
    padding-top: 0.1vw;
} */

.A_page {
    /* height: 100vh; */
    height: calc(var(--vh, 1vh) * 100);
    position: fixed;
    /* bottom: 30px; */
    /* top: 0px; */
    flex-direction: column;
    width: 42vw;
    left: 2.6vw;
    /* padding-top: 0.1vw; */
}

#A_homePage {
    display: flex;    
    opacity: 1;
}

#A_64TetraView {
    display: none;
    opacity: 0;
}

#A_metatronView {
    display: none;
    opacity: 0;
}

#A_musicView {
    display: none;
    opacity: 0;
}

#A_geobebraView {
    display: none;
    opacity: 0;
}

.A_pageIn {
    animation: transitionIn 1s linear forwards;
}

.A_pageOut {
    animation: transitionOut 1s linear forwards;
}

@keyframes transitionIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes transitionOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

